<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation') %>
    <H1>Orders - in process</H1>
<%- include('../includes/tail') %>